{include file="Public/_meta"}
<article class="page-container">
    <form action="{:url('edit')}" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="cate_id" value="{$cateInfo.cate_id}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$cateInfo.cate_name}" placeholder="" id="cate_name" name="cate_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分类别名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$cateInfo.cate_alias}" placeholder="" id="cate_alias" name="cate_alias">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上级分类：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select id="parent_cate_id" name="parent_cate_id" class="select">
					<option value="0">顶级分类</option>
					{volist name="cateData" id="val"}
					  <option <?php if($cateInfo['parent_cate_id'] == $val['cate_id']){echo 'selected';} ?> value="{$val.cate_id}"><?php echo str_repeat('-',4*$val['level']) ?> {$val.cate_name}</option>
					{/volist}
				</select>
				</span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$cateInfo.order_id}" placeholder="" id="order_id" name="order_id">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分类描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="cate_description"  id="cate_description" cols="" rows="" class="textarea"  placeholder="说点什么..." >{$cateInfo.cate_description}</textarea>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">是否显示：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input <?php if($cateInfo['is_index'] == 1){echo 'checked';} ?> type="checkbox" id="is_index" name="is_index" value="1">
                    <label for="checkbox-pinglun">&nbsp;</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="cate_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                <a href="{:url('index')}" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="Public/_footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>